@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root {
    --grayish-black: #313846;
    --semi-grayish-black: #272D38;
    --black: #1F242D;
    --white: #FFFFFF;
    --light-gray: #DEDCDB;
    --gray: #B4AFAD;
    --light-blue: #CFDCED;
    --semi-light-blue: #8EADD5;
    --blue: #5A87C2;
    --light-green: #42D0A8;
    --green: #2CAF8A;
    --dark-green: #238C6E;
    --light-red: #E28997;
    --semi-light-red: #D34F64;
    --red: #BA2E45;
}

body {
    background: white;
    -webkit-font-smoothing: antialiased;
}

body,
input,
button {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

button {
    cursor: pointer;
}

.header {
    /* border: 1px solid red; */
}

header {
    background: var(--white);
    z-index: 999;
    width: 100%;
    height: 5vh;
}

header h1 {
    text-align: center;
    color: var(--semi-grayish-black);
    width: 100%;
    position: relative;
    font-weight: 700;
    margin-top: 10px;
    font-size: 1.5rem;

}

header h1 a {
    text-decoration: none;
    color: var(--semi-grayish-black);
    text-transform: uppercase;
    width: 100%;
}

nav {
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform ease-in-out 250ms;
}


nav ul {
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
}

nav li {
    margin-top: 0.7em;
    margin-right: 1em;
}

nav a {
    text-decoration: none;
    color: var(--semi-grayish-black);
}

nav a:hover {
    color: var(--semi-light-blue);
}

.nav_toggle {
    display: none;
}

.nav_toggle:checked~nav {
    transform: scale(1, 1);
    transition: transform ease-in-out 250ms;
}

.nav_toggle_label {
    position: absolute;
    top: 1.3em;
    right: 1em;
}

.nav_toggle_label span,
.nav_toggle_label span::before,
.nav_toggle_label span::after {
    background: var(--semi-grayish-black);
    display: block;
    height: 2px;
    width: 1.5em;
    position: relative;
}

.nav_toggle_label span::before,
.nav_toggle_label span::after {
    content: "";
    position: absolute;
}

.nav_toggle_label span::before {
    top: 10px;
}

.nav_toggle_label span::after {
    bottom: 10px;
}


@media screen and (min-width: 768px) {

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    header h1 {
        grid-column: 2/3;
        width: fit-content;
        font-size: 1rem;
        display: flex;
        align-items: center;
    }

    nav {
        all: unset;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        position: relative;
        display: flex;
        bottom: .3em;
        align-items: center;
    }

    .nav_toggle_label {
        display: none;
    }
}

img {
    width: 100%;
}

main {
    width: 80%;
    margin: 2em auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left_side {
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 1em;
}

.left_side h1 {
    text-transform: capitalize;
    color: var(--semi-grayish-black);
    font-weight: 700;
}

.left_side p {
    font-weight: 400;
    font-size: 1rem;
    padding: 1em;
    text-transform: capitalize;
}

.left_side button {
    padding: 4px 10px;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 12px;
    border: none;
    background: var(--semi-light-blue);
    color: var(--white);
}



.right_side {
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 1em;
}

.right_side img {
    margin: 2em auto;
}